<!DOCTYPE html>
<html>
<head>
    
    <title>Agenda</title>
</head>
<body>
    <center>

        <hr>
    <h1>Agenda</h1>
    
    <hr>
    <div class="info">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="{{url_for('ver_contactos')}}">Ver contactos</a><br>
        <br>
        <a href="{{url_for('ver_usuarios')}}">Ver usuarios</a><br>   
        <br>
        <a href="{{url_for('ver_citas')}}">Ver citas</a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </center>
</body>
</html>